@import '../../styles/_settings/variables';
@import '../../styles/_settings/mixins';

.Education {
    @include media(tablet) {
        @include box-shadow-container
    }

    &__title {
        display: flex;
        flex-direction: row;

        &__description {
            margin-left: 1rem;
            font-size: 26px;
        }
    }

    &__content {
        margin-top: 1rem;
    }

    &__edu {
        display: flex;
        flex-direction: column;
        margin: 2rem 0rem;


        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-school {
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 0.2rem;
            font-size: $font-size-education-school-desktop;

            @include media(phone) {
                font-size: $font-size-education-school-mobile;
            }
        }

        &-date {
            color: #666;
            font-size: 1rem;
        }

        &-studies {
            margin-left: 1rem;
            font-style: italic;
            font-size: $font-size-desktop;

            @include media(phone) {
                font-size: $font-size-mobile;
            }
        }
    }

    &__lang {
        display: flex;
        align-items: center;

        &__flag {
            margin: 0;
            margin-right: 6px
        }

        &__text {
            &--noflag {
                margin-left: 2rem;
            }
        }
    }
}