@import "../../styles/_settings/variables";
@import "../../styles/_settings/mixins";

.Education {
  &__content {
    margin-top: 1rem;
  }

  &__edu {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: justify;

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
      @include media(phone) {
        flex-direction: column;
        align-items: center;
      }
    }

    &-projects {
      @include project-section;
    }
    &-school {
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      font-size: $font-size-education-school-desktop;

      @include media(phone) {
        font-size: $font-size-education-school-mobile;
      }
    }

    &-date {
      color: $green;
      font-size: 1rem;
      @include media(phone) {
        font-size: $font-size-mobile;
      }
    }

    &-studies {
      font-size: $font-size-desktop;
      font-weight: 300;
      @include text-border;

      @include media(phone) {
        font-size: $font-size-mobile;
      }
    }
  }

  li {
    list-style: none;
  }
}
