@import '../../styles/_settings/variables';
@import '../../styles/_settings/mixins';

$icon-full: 55px;
$icon-min: 45px;

.wrapper {
  display: flex;
  padding-bottom: 12px;
  max-height: $icon-full;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  .button {
    display: flex;
    max-height: $icon-full;
    max-width: $icon-full;
    overflow: hidden;
    transition: max-width 0.3s ease-out;
    margin: 0 5px;
    background: $off-white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);

    @include media(phone) {
      width: $icon-min;
      height: $icon-min;
      margin: 0 15px;
    }
    
    @include media(phoneSmall) {
      width: $icon-min;
      height: $icon-min;
      margin: 0 5px;
    }

    span {
      font-size: 20px;
      font-weight: 500;
      line-height: 60px;
      margin-left: 10px;
      transition: all 0.3s ease-out;
    }
  }

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    max-width: 15rem;
    padding-right: 1.5rem;
    transition: max-width 0.3s ease-out;

    .icon {

      .darkblue {
        background: #4267B2;
      }

      .lightblue {
        background: #1DA1F2
      }

      .grey {
        background: #333
      }

      .red {
        background: #E1306C
      }

      .green {
        background: #3AC24A
      }

      i {
        color: #fff;
      }
    }
  }
}
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $icon-full;
    width: $icon-full;
    line-height: $icon-full;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;

    @include media(phone) {
      width: $icon-min;
      height: $icon-min;
      line-height: $icon-min;
    }

    i {
      font-size: $icon-full / 2;
      line-height: $icon-full;
      transition: all 0.3s ease-out;

      @include media(phone) {
        line-height: $icon-min;
      font-size: $icon-min / 2;
      }
    }
  }
}

.darkblue {
  color: #4267B2;
}

.lightblue {
  color: #1DA1F2
}

.grey {
  color: #333
}

.red {
  color: #E1306C
}

.green {
  color: #3AC24A
}