@import '../../styles/_settings/variables';
@import '../../styles/_settings/mixins';


.wrapper {
  display: flex;
  max-height: $social-icon-full;
  max-width: 270px;
  align-items: center;
  justify-content: center;
}

.socialLinks {
  display: flex;

  .button {
    display: flex;
    max-height: $social-icon-full;
    max-width: $social-icon-full;
    overflow: hidden;
    transition: max-width 0.3s ease-out;
    margin: 0 5px;
    background: $off-white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);

    @include media(phone) {
      width: $social-icon-min;
      height: $social-icon-min;
    }

    @include media(phoneSmall) {
      width: $social-icon-min;
      height: $social-icon-min;
    }

    span {
      display: flex;
      align-items: center;
      font-size: $font-size-desktop;
      font-weight: 500;
      margin-left: 10px;
      transition: all 0.3s ease-out;

      @include media(phone) {
        font-size: $font-size-mobile;
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    .button:hover {
      max-width: 15rem;
      padding-right: 1.5rem;
      transition: max-width 0.3s ease-out;

      .icon {

        .darkblue {
          background: #4267B2;
        }

        .lightblue {
          background: #1DA1F2
        }

        .grey {
          background: #333
        }

        .red {
          background: #E1306C
        }

        .green {
          background: #3AC24A
        }

        i {
          color: #fff;
        }
      }
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $social-icon-full;
    width: $social-icon-full;
    line-height: $social-icon-full;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;

    @include media(phone) {
      width: $social-icon-min;
      height: $social-icon-min;
      line-height: $social-icon-min;
    }

    @include media(phoneSmall) {
      width: $social-icon-min;
      height: $social-icon-min;
      line-height: $social-icon-min;
    }

    i {
      font-size: $social-icon-full / 2;
      line-height: $social-icon-full;
      transition: all 0.3s ease-out;

      @include media(phone) {
        line-height: $social-icon-min;
        font-size: $social-icon-min / 2;
      }

      @include media(phoneSmall) {
        line-height: $social-icon-min;
        font-size: ($social-icon-min / 2);
      }
    }
  }
}

.darkblue {
  color: #4267B2;
}

.lightblue {
  color: #1DA1F2
}

.grey {
  color: #333
}

.red {
  color: #E1306C
}

.green {
  color: #3AC24A
}