@import "../../styles/_settings/variables";
@import "../../styles/_settings/mixins";

.personal-projects {
  @include project-section;

  &-link {
    button {
      border-radius: 25px;
      border: 1px solid black;
      padding: 0.5rem;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: black;
        color: white;
      }
      a {
        display: flex;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0rem 1rem;
      }
    }
    &-text {
      margin: 0px 5px;
    }
  }
}
