@import '../../styles/_settings//mixins';
@import '../../styles/_settings/variables';

.Wrapper {
    position: relative;
    border-radius: 3px;
    width: 85%;
    height: 100%;
    padding-bottom: 6rem;
    padding: 2.5rem;
    max-width: 1400px;
    border-bottom: 2px solid $green;
    word-wrap: break-word;
    margin: 0px auto 30px auto;
    box-shadow: 0 0 0 0, 0 6px 12px rgba(0, 0, 0, 0.1);
    min-height: 280px;
    background-color: $app-backgroud-color;

    @include media(laptop) {
        padding: 1.5rem;
        width: 100%;
    }
    
    @include media(tablet) {
        padding: 1.5rem;
        width: 95%;
    }

    @include media(phone) {
        width: 100%;
        padding: 1rem;
    }
}