@import '../../styles/_settings/variables';
@import '../../styles/_settings/mixins';

.About {
    &__title {
        display: flex;
        flex-direction: row;
        
        &__description {
            margin-left: 1rem;
            font-size: $font-size-section-title-desktop;
            
            @include media(phone) {
                font-size: $font-size-section-title-mobile;
            }
        }
    }

    &__text {
        margin-top: 2rem;
        font-size: $font-size-desktop;

            @include media(phone) {
                font-size: $font-size-mobile;  
            }

    }
}