@import "../../styles/_settings/variables";
@import "../../styles/_settings/mixins";

.About {
  &__text {
    margin-top: 3rem;
    font-size: 18px;
    font-weight: 300;

    @include media(phone) {
      font-size: $font-size-mobile;
    }
  }
}
