@import "../styles/_settings/variables";
@import "../styles/_settings/mixins";

.notFound {
  height: 100vh;
  width: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid $green;
    height: 100%;
    background-color: $app-backgroud-color;
  }

  &__mainTitle {
    font-size: $font-size-name-desktop;
    color: $green;

    @include media(phone) {
      font-size: $font-size-name-phone;
    }
  }
  &__text {
    margin: 1rem;
  }
}
