@import "../styles/_settings/variables";
@import "../styles/_settings/mixins";

.notFound {
  height: 100vh;
  width: 100%;
  
  &__content {
    border: 3px solid $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: $app-backgroud-color;
  }

  &__mainTitle {
    font-size: $font-size-name-desktop;
    position: absolute;
    color: $green;

    @include media(phone) {
      font-size: $font-size-name-phone;
    }

  }
  &__text {
    margin: 5%;
  }
}