@import '../styles/_settings/reset';
@import '../styles/_settings/variables';
@import '../styles/_settings/mixins';
@import '../styles/_settings/base';


.resume {
    display: grid;
}

.page-content {
    margin-top: 150px;
    max-width: 100%;
    display: grid;
    justify-items: center;
    grid-template-rows: 200px repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: 
        "avatar"
        "name"
        "social"
        "intro";
}

.avatar {
    grid-area: avatar;
}

.nameTitle {
    grid-area: name;
    font-size: 30px;
    color: $black;

    @include media(phoneSmall) {
        font-size: 24px;
    }
}

.social {
    grid-area: social;
}

.introduction {
    grid-area: intro;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: subgrid;
    grid-template-areas: "about stack";
    gap: 5%;

    @include media(tablet) {
        grid-template-columns: 1fr;
        grid-template-areas: "about" "stack";
    }
}

.about {
    grid-area: about;
}

.stack {
    grid-area: stack;
}