@import '../../styles/_settings/variables';
@import '../../styles/_settings/mixins';

.Timeline {
    @include media(tablet) {
        @include box-shadow-container;
    }
    &__title {
        display: flex;
        flex-direction: row;


        &__description {
            margin-left: 1rem;
            font-size: 26px;
        }
    }
}