@import "../../styles/_settings/variables";
@import "../../styles/_settings/mixins";

.Timeline {
  &__content {
    margin-top: 1rem;
    font-size: $font-size-desktop;

    &__item {
      display: grid;
      grid-template-columns: 5% auto;
      grid-template-areas: "marker inner";
    }

    &__inner {
      display: grid;
      grid-area: inner;
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
      grid-template-areas:
        "date"
        "title"
        "description";
      gap: 10px;
      margin: 1rem;
    }

    &__date {
      grid-area: date;
      text-transform: uppercase;
    }

    &__year {
      margin-left: 0.5rem;
    }

    &__title {
      grid-area: title;

      &--big {
        text-transform: uppercase;
      }

      &--small {
        align-content: right;
      }
    }

    &__description {
      grid-area: description;
      font-weight: 300;
    }

    &__marker {
      grid-area: marker;
      margin: 0.8rem auto;
      width: 100%;
      height: 100%;

      @include media(phoneSmall) {
        padding-top: 0.4rem;
      }

      &-dot {
        background-color: $line-dot-color;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        margin: auto;

        @include media(phone) {
          width: 1.5rem;
          height: 1.5rem;
        }

        @include media(phoneSmall) {
          width: 1rem;
          height: 1rem;
        }
      }

      &-line {
        background: $blue;
        margin: auto;
        width: 4px;
        height: 100%;
      }
    }
  }
}
