@import "./variables";
@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: $app-backgroud-color;

  @include media(desktop) {
    font-size: 72.5%;
  }
}

body {
  font-family: Ubuntu;
  font-size: 1.4rem;
  background-color: $app-theme-color;
  color: $white;

}

span {
  color: $green;
}
