@import './variables';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background: $app-theme-color-dark;

  @include media(desktop) {
    font-size: 72.5%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  background-color: $app-theme-color-dark;
}