@mixin media($breakpoint) {
  @if $breakpoint==phoneSmall {
    @media only screen and (min-width: 0px) and (max-width: 280px) {
      @content;
    }
  }

  @if $breakpoint==phone {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 769px) {
      @content;
    }
  }

  @if $breakpoint==laptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (max-width: 1600px) {
      @content;
    }
  }
}

@mixin box-shadow-container {
  padding: 1rem;
  background: #E3E6EC;
  box-shadow: 18px 18px 20px #D1D9E6,
    -18px -18px 20px #FFFFFF;
  border-radius: 30px;
}