@mixin media($breakpoint) {
  @if $breakpoint==phoneSmall {
    @media only screen and (min-width: 0px) and (max-width: 280px) {
      @content;
    }
  }

  @if $breakpoint==phone {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 769px) {
      @content;
    }
  }

  @if $breakpoint==laptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (max-width: 1600px) {
      @content;
    }
  }
}

@mixin project-section {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &-list {
    display: flex;
    flex-direction: column;
  }

  &-title {
    font-size: 1.6rem;
    margin: 1rem 0rem;
    color: $green;
  }

  &-description {
    font-size: 1.5rem;
    margin: 0rem 1rem;
    font-weight: 300;
  }

  &-skills {
    display: flex;
    margin: 10px 1rem;
  }

  &-notes {
    font-size: 1.5rem;
    margin: 1rem 1rem;
    font-weight: 300;
  }
  &--header {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 16px;

    @include media(phone) {
      font-size: $font-size-education-school-mobile;
    }
  }
}

@mixin text-border {
  border: 2px solid $green;
  border-radius: 25px;
  padding: 2rem;
}
