@mixin media($breakpoint) {
  @if $breakpoint==phoneSmall {
    @media only screen and (min-width: 0px) and (max-width: 280px) {
      @content;
    }
  }

  @if $breakpoint==phone {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==tablet {
    @media only screen and (max-width: 769px) {
      @content;
    }
  }

  @if $breakpoint==laptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (max-width: 1600px) {
      @content;
    }
  }
}

@mixin section-property {
  &__title {
    display: flex;
    flex-direction: row;
    color: $section-title-color;

    &__description {
      margin-left: 1rem;
      font-size: $font-size-section-title-desktop;

      @include media(phone) {
        font-size: $font-size-section-title-mobile;
      }
    }
  }
}