@mixin media($breakpoint) {
  @if $breakpoint == phoneSmall {
    @media only screen and (max-width: 280px) {
      @content;
    }
  }
  
  @if $breakpoint == phone {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 769px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 1600px) {
      @content;
    }
  }
}