// Colors
$app-backgroud-color: #fff;
$app-backgroud-light-color: #e6faf9;
$black: #000000;
$anthracite-grey: #141414;
$grey: #443d3c;
$middle-grey: darkgray;
$light-grey: #c7c7c7;
$extra-light-grey: #ececec;
$green: #008000;
$off-white: #fafafa;
$white: #ffffff;