// Colors
$app-backgroud-color: #fff;
$app-theme-color: #28283c;
$app-theme-color-dark: #292D32;
$black: #000000;
$off-white: #ECF0F3;
$white: #ffffff;
$burger-color: #fff;
$line-dot-color: #08c255;

// Font size
$font-size-desktop: 16px;
$font-size-mobile: 14px;
$font-size-section-title-desktop: 26px;
$font-size-section-title-mobile: 24px;
$font-size-education-school-desktop: 20px;
$font-size-education-school-mobile: 14px;

// Icons size
$social-icon-full: 35px;
$social-icon-min: 35px;