@import "../../styles/_settings/variables";
@import "../../styles/_settings/mixins";

.Stack {
  display: flex;
  flex-direction: column;
  &__images {
    display: grid;
    grid-template-columns: repeat(7, $icon-size);
    margin-top: 1rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    @include media(laptop) {
      grid-template-columns: repeat(6, $icon-size);
    }

    @include media(tablet) {
      grid-template-columns: repeat(7, $icon-size);
      margin-bottom: $icon-size;
    }

    @include media(phone) {
      grid-template-columns: repeat(5, $icon-size);
    }

    @include media(phoneSmall) {
      grid-template-columns: repeat(3, $icon-size);
      margin-bottom: $icon-size * 2;
      gap: 1rem;
    }
  }

  .logo {
    width: $icon-size;

    @include media(phone) {
      width: $icon-size;
    }

    @include media(phoneSmall) {
      width: $icon-size - 5px;
    }
  }
}
